/* grid basic */
.father{
   display:grid;
   grid-template-columns: 250px 250px 250px;
   grid-template-rows: 100px 50px 300px;
   /* column-gap: 10px; */
   /* row-gap: 10px; */
   gap: 10px;
}

.child{
   background-color: peru;
   color: white;
   font-size:50px;
   display:flex;
   justify-content:center;
   align-items:center;
}

/* grid template areas */
.grid{
   display:grid;
   gap:10px;
   height: 50vh;
   grid-template:
      "header header header header" 1fr
      "content content content nav" 2fr
      "footer footer footer footer" 1fr / 1fr 1fr 1fr 1fr
   ;
}

.header {
   background-color: #e67e22;
   grid-area: header;
}
.content {
   background-color: #8e44ad;
   grid-area: content;
}
.nav {
   background-color: #c0392b;
   grid-area: nav;
}
.footer {
   background-color: #f1c40f;
   grid-area: footer;
}