/* grid basic */
.father{
   display:grid;
   grid-template-columns: 250px 250px 250px;
   grid-template-rows: 100px 50px 300px;
   /* column-gap: 10px; */
   /* row-gap: 10px; */
   gap: 10px;
}

.child{
   background-color: peru;
   color: white;
   font-size:50px;
   display:flex;
   justify-content:center;
   align-items:center;
}

/* grid template areas */
.grid{
   background-color: #333;
   color: #fff;
   display:grid;
   gap:10px;
   height: 100vh;
   grid-template-columns: repeat(4,100px);
   grid-template-rows: repeat(4,100px);
   justify-content: space-evenly;
   align-content: space-evenly;
   place-content: end center;
}

.header {
   background-color: #e67e22;
   /* align-self: end; */
   /* justify-self: center; */
   /* place-self:end center; */
}
.content {
   background-color: #8e44ad;
}
.nav {
   background-color: #c0392b;
}
.footer {
   background-color: #f1c40f;
}