/* grid basic */
.father{
   display:grid;
   grid-template-columns: 250px 250px 250px;
   grid-template-rows: 100px 50px 300px;
   /* column-gap: 10px; */
   /* row-gap: 10px; */
   gap: 10px;
}

.child{
   background-color: peru;
   color: white;
   font-size:50px;
   display:flex;
   justify-content:center;
   align-items:center;
}

/* grid template areas */
.grid{
   display:grid;
   gap:10px;
   grid-template-columns: repeat(4,100px);
   grid-template-rows: repeat(4,100px);
   /* grid-template-areas:
   "header header header header"
   "content content content nav"
   "content content content nav"
   "footer footer footer footer"; */
}

.header {
   background-color: #e67e22;
   /* grid-column-start: 1;
   grid-column-end: 5; */
   /* grid-column: 1 / 5; */
   grid-column: span 4;
   /* grid-area: header; */
}
.content {
   background-color: #8e44ad;
   /* grid-column-start:1;
   grid-column-end:4;
   grid-row-start:2;
   grid-row-end:4; */
   grid-column: 1/-2;
   grid-row: span 2;
   /* grid-area: content; */
}
.nav {
   background-color: #c0392b;
   /* grid-row-start:2;
   grid-row-end:4; */
   grid-row:span 2;
   /* grid-area: nav; */
}
.footer {
   background-color: #f1c40f;
   /* grid-column-start:1;
   grid-column-end:5; */
   /* grid-area: footer; */
   /* grid-column: 1/-1; */
   grid-column: span 4;
}