/* flex container */
.wrapper {
   display:flex;
   /* flex-direction: row; */
   /* Main Axis */
   justify-content: space-around;
   align-content: center;
   /* Cross Axis */
   height: 200vh;
}

.box {
   width: 200px;
   height: 200px;
   background-color: #eaf;
   color: #fff;
   font-size: 36px;
   display:flex;
   justify-content:center;
   align-items:center;
}

.box:nth-child(2){
   background-color: #000;
   flex-grow:2;
}

.box:nth-child(3){
   flex-grow:1;
}